<template>
  <div>
    <div class="input-group">
      <input type="text" class="input form-control" placeholder="add shopping list item" v-model="newItem">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" @click="addItem">Add!</button>
      </span>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'add-item-component',
    data () {
      return {
        newItem: ''
      }
    },
    methods: {
      addItem () {
        this.$emit('add', this.newItem)
        this.newItem = ''
      }
    }
  }
</script>

<style scoped>

</style>
