<template>
  <div class="footer">
    <hr/>
    <em>Change the title of your shopping list here</em>
    <input type="text" class="js-change-title" :value="title" @input="onChangeTitle">
  </div>
</template>

<script>
  export default {
    name: 'change-title-component',
    props: ['title'],
    methods: {
      onChangeTitle (event) {
        this.$emit('changed', event.target.value)
      }
    }
  }
</script>

<style scoped>

</style>
