<template>
  <div id="app" class="container">
    <h2>{{ title }}</h2>
    <add-item-component @add="addItem($event)"></add-item-component>
    <items-component :items="items"></items-component>
    <change-title-component :title="title" @changed="title = $event"></change-title-component>
  </div>
</template>

<script>
import AddItemComponent from './components/AddItemComponent'
import ChangeTitleComponent from './components/ChangeTitleComponent'
import ItemsComponent from './components/ItemsComponent'

export default {
  name: 'app',
  components: {
    AddItemComponent,
    ChangeTitleComponent,
    ItemsComponent
  },
  data () {
    return {
      title: 'Shopping List',
      items: [
        {text: 'Bananas', checked: true},
        {text: 'Apple', checked: false}
      ]
    }
  },
  methods: {
    addItem (text) {
      this.items.push({
        text: text,
        checked: false
      })
    }
  }
}
</script>

<style scoped>

</style>
